{% extends 'base.html' %}
{% load widget_tweaks %}
{% load next_field %}
{% load zip_longest %}
{% load static %}

{% block title %}{{ task.title|truncatechars:40 | striptags }} - Grammar.pl{% endblock title %}
{% block description %}{{ task.text|truncatechars:120 | striptags }} - zadanie {{ task.category }}{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'tasks/css/tasks.css' %}"/>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <div style="background-color: white; border: 2px solid lightgrey;" class="paper uk-border-rounded uk-padding uk-box-shadow-medium">
            <div class="uk-float-right" style="font-weight: 500;"><a class="uk-link-reset" href="{% url 'profile' task.author.id %}">{{ task.author }} <img class="uk-preserve-width uk-border-circle" src="{{ task.author.avatar.url }}" width="40" alt=""></a></div>
            <p class="uk-text-lead">{{ task.title }}</p>
            <div class="uk-text-justify">{{ task.text | safe | linebreaks }}</div>
            <form method="post">
            {{ formset.management_form }}
            {% csrf_token %}
                {% for question in task.question.all %}
                    <div class="uk-margin-left">
                        <p>
                        {% for question_split in question.text_fill_blank_list_split %}
                        {% with user_anwser=user_anwsers|next_field:"text" %}
                            {{ question_split }}
                            {% if formset.is_valid %}
                            {{ user_anwser.value }} - {{ question.list_of_text_anwsers }}
                                {% if user_anwser.value in question.multiple_anwsers.get_list_of_anwsers %}
                                    {% render_field user_anwser class+="uk-input uk-form-small uk-form-success uk-form-width-medium uk-text-center uk-remove-padding" %}
                                {% else %}
                                    {% render_field user_anwser class+="uk-input uk-form-small uk-form-danger uk-form-width-medium uk-text-center uk-remove-padding" %}
                                {% endif %}
                            {% else %}
                                {% render_field user_anwser class+="uk-input uk-form-small uk-form-width-medium uk-text-center uk-remove-padding" %}
                            {% endif %}
                        {% endwith %}
                        {% endfor %}
                        </p>
                    </div>
                {% endfor %}
                {% if task.source %}<div class="uk-text-right uk-text-meta uk-text-truncate" uk-toggle="cls: uk-text-truncate uk-text-break;"><i>Źródło: {{ task.source }}</i></div>{% endif %}
            </div>
            <div class="uk-border-rounded uk-padding-small task-menu">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-text-left@s uk-width-1-1 uk-width-1-2@s">
                        <button class="uk-button uk-button-primary uk-border-rounded" type="submit">Sprawdź odpowiedzi</button>
                    </div>
                    <div class="uk-text-right@s uk-width-1-1 uk-width-1-2@s uk-grid-small">
                        <a data-add-fav="{% url 'add_favourite' task.id %}" id="favourite" class="{% if is_favourite %}uk-text-danger{% endif %} uk-icon-link js-add-fav" uk-icon="icon: heart; ratio: 1.5" uk-tooltip="title: Dodaj do ulubionych; pos: bottom"></a>
                        <a data-vote-task="{% url 'add_vote' task.id 'upvote' %}" id="upvote" class="{% if user_vote == 'upvote' %}uk-text-success{% endif %} uk-icon-link js-add-vote" uk-icon="icon: arrow-up; ratio: 1.5"><span>{{ task.get_upvotes }}</span> Lubie!</a>
                        <a data-vote-task="{% url 'add_vote' task.id 'downvote' %}" id="downvote" class="{% if user_vote == 'downvote' %}uk-text-danger{% endif %} uk-icon-link js-add-vote" uk-icon="icon: arrow-down; ratio: 1.5"><span>{{ task.get_downvotes }}</span> Nie lubie</a>
                    </div>
                </div>
            </div>
            {% include 'tasks/go_back_button.html' %}
            {% include 'tasks/tasks_help_menu.html' %}
        </form>
        {% include 'tasks/task_comments.html' %}
        {% include 'base/paginator.html' %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
    let error_message = "Żeby wykonać tą akcję proszę się zalogować"
    $(".js-add-like").click(function() {
        var comment = $(this);
        $.ajax({
            url: comment.attr("data-like-comment"),
            data: comment.serialize(),
            dataType: 'json',
            success: function(data) {
                if (data.liked) {
                    comment.css("color", "pink");
                    comment.children("span").text(data.count);
                    comment.removeClass("uk-hidden-hover uk-animation-slide-right-small");
                } else {
                    comment.css("color", "");
                    if(data.count == 0)
                    {
                        comment.children("span").text("");
                        comment.addClass("uk-hidden-hover uk-animation-slide-right-small");
                    }
                    else
                    {
                        comment.children("span").text(data.count);
                        comment.removeClass("uk-hidden-hover uk-animation-slide-right-small");
                    }
                }
            },
            error: function(){
                UIkit.notification(error_message, {status:'danger'})
            }
        });

    });
    $(".js-add-vote").click(function() {
        var vote = $(this);
        $.ajax({
            url: vote.attr("data-vote-task"),
            data: vote.serialize(),
            dataType: 'json',
            success: function(data) {
                $("#upvote span").text(data.upvotes);
                $("#downvote span").text(data.downvotes);
                if(vote.attr('id') == 'upvote'){
                    vote.addClass("uk-text-success");
                    $("#downvote").removeClass("uk-text-danger");
                }
                else{
                    vote.addClass("uk-text-danger");
                    $("#upvote").removeClass("uk-text-success");
                }
            },
            error: function(){
                UIkit.notification(error_message, {status:'danger'})
            }
        });

    });
    $(".js-add-fav").click(function() {
        var favourite = $(this);
        $.ajax({
            url: favourite.attr("data-add-fav"),
            data: favourite.serialize(),
            dataType: 'json',
            success: function(data) {
                if(data.is_favourite)
                    favourite.addClass("uk-text-danger");
                else
                    favourite.removeClass("uk-text-danger");
            },
            error: function(){
                UIkit.notification(error_message, {status:'danger'})
            }
        });

    });
    </script>
{% endblock %}