{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="uk-section uk-section-muted uk-flex uk-flex-center">
    <div class="uk-container uk-padding" uk-grid>
        <div class="uk-width-medium@s uk-text-break">
            <img src="{{ object.avatar.url }}" class="uk-width-2-3 uk-align-center uk-border-circle">
            <div class="uk-card-body uk-card-default uk-card-small" style="padding-top: 80px; border-radius: 80px 80px 0px 0px; margin-top: -90px; border-bottom: 4px solid grey;">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ object.username }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">Dołączył: {{ object.date_joined }}</p>
                <hr>
                <!-- O SOBIE -->
                <p class="uk-margin-remove">O sobie:</p>
                <div class="uk-text-meta">{% if object.about %} {{ object.about }} {% else %} {{ object.username }} nic o sobie nie napisał 😢 {% endif %}
                </div>
                <!-- DANE -->
                <p class="uk-margin-remove-bottom">Informacje:</p>
                <div class="uk-text-meta">Imie: {% if object.first_name %} {{ object.first_name }} {% else %} brak :c {% endif %}</div>
                <div class="uk-text-meta">Data urodzenia: {% if object.birth %} {{ object.birth }} {% else %} nie urodził się :c {% endif %}
                </div>
                {% if user == object %}
                <p class="uk-text-center">
                    <a href="{% url 'changeprofile' %}"><button class="uk-button uk-button-primary">Edytuj swoje dane</button></a>
                </p>
                {% endif %}
            </div>
            <div class="uk-width-1-1 uk-text-center uk-visible@s">
                <img src="{% static 'img/books.png' %}" class="uk-width-small">
            </div>
        </div>

        <!-- ACTIVITY TAB -->
        <div class="uk-width-expand@s">
            <h3>Ostatnia aktywność</h3>
            <div class="uk-comment uk-background-default uk-padding uk-margin-bottom">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <span uk-icon="icon: comment; ratio: 2" class="uk-float-right"></span>
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Tytuł zadania</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">12 dni temu</a></li>
                            <li><a href="#">Komentarz</a></li>
                        </ul>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non sed diam non... <span class="uk-title-lead">czytaj więcej</span></p>
                </div>
            </div>
            <div class="uk-comment uk-background-default uk-padding">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <span uk-icon="icon: file-text; ratio: 2" class="uk-float-right"></span>
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Tytuł zadania</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">15 dni temu</a></li>
                            <li><a href="#">Zadanie</a></li>
                            <li><a href="#">Past Simple</a></li>
                        </ul>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non sed diam non... <span class="uk-title-lead">czytaj więcej</span></p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}