{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Zarejestruj się - Grammar.pl{% endblock title %}
{% block content %}

<script src="https://www.google.com/recaptcha/api.js?render=6LcZIrYUAAAAAEmg1RAirfwtWHfh_3rs0W6PBwy-"></script>

<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-height-auto uk-padding-large uk-text-center">

<div class="uk-h1">Zarejestruj sie aby dodawać zadania</div>
<div class="uk-heading-primary uk-text-center">
    <p>Konto daje możliwość dodawania własnych zadań.<br>
    Pozwala zapisywać ulubione zadania i oceniać prace innych<br>
    Dołącz do społeczności, rozwijaj umiejętności swoje i innych!</p>
</div>


{% with WIDGET_ERROR_CLASS='uk-form-danger' %}
<!-- Register form -->
<form id="form" class="" method="post">
    {% csrf_token %}
    <div class="uk-fieldset uk-width-large@s">
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: user"></span>
                {% render_field form.username|attr:"autofocus" class+="uk-input uk-border-rounded" placeholder=form.username.label %}
            </div>
            <div class="uk-text-meta uk-list">{{ form.username.help_text }}</div>
            <div class="uk-text-danger">
                {% for error in form.username.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: mail"></span>
                {% render_field form.email class+="uk-input uk-border-rounded" placeholder=form.email.label %}
            </div>
            <ul class="uk-text-meta uk-list">{{ form.email.help_text }}</ul>
            <div class="uk-text-danger">
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: lock"></span>
                {% render_field form.password1 class+="uk-input uk-border-rounded" placeholder=form.password1.label %}
            </div>
            <div class="uk-text-meta uk-list uk-text-justify">{{ form.password1.help_text }}</div>
            <div class="uk-text-danger">
                {% for error in form.password1.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: lock"></span>
                {% render_field form.password2 class+="uk-input uk-border-rounded" placeholder=form.password2.label %}
            </div>
            <div class="uk-text-meta uk-list">{{ form.password2.help_text }}</div>
            <div class="uk-text-danger">
                {% for error in form.password2.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
            <div class="uk-margin">
                {% render_field form.captcha %}

                {% for error in form.captcha.errors %}
                <div class="uk-alert-danger" uk-alert>{{ error }}</div>
                {% endfor %}
            </div>
        <button type="submit" class="uk-button uk-button-primary uk-border-rounded" value="login">Zarejestruj sie</button>
    </div>
</form>
{% endwith %}

{% if form.non_field_errors %}
    <div class="uk-alert-danger" uk-alert>
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
