<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}Zbiór zadań maturalnych, oraz gramatycznych w przejrzystej i przyjemnej formie. Ćwicz język angielski bez przedzierania się przez klucze rozwiązań. Wkrótce pojawią się również zadania z egzaminów gimnazjalnych i ośmioklasisty.{% endblock description %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/preview.jpg' %}">
    <title>{% block title %}Grammar.pl - Zbiór zadań maturalnych, oraz gramatycznych.{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <!-- Matomo -->
	<script type="text/javascript">
	  var _paq = window._paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//stats.ct8.pl/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '793']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Matomo Code -->
</head>
<header>
    {% include 'base/navbar.html' %}
</header>

<body class="uk-position-relative">
    {% block content %}
    {% endblock content %}
</body>

<footer class="uk-section-secondary uk-position-bottom">
    {% include 'base/footer.html' %}
</footer>
<script type="text/javascript">
{% block javascript %}{% endblock %}
</script>
</html>