<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Grammar.pl {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>
<header>
    {% include 'base/navbar.html' %}
</header>

<body class="uk-position-relative">
    {% block content %}
    {% endblock content %}
</body>

<footer class="uk-section-secondary uk-position-bottom">
    {% include 'base/footer.html' %}
</footer>
</html>