{% load static %}

html{
	background-color: #F6F8F9;
}

.profile-img{
	width: 40px;
}
.promote-text{
	color: white;
    text-shadow: 0px 0px 4px #656565;
}

.yellow-button{
	background-color: #FFC96C;
	color: white;
}

.block-title{
	font-size: 20px;
	font-weight: 600;
}

#newsletter-img
{
	background: url("../img/bongocat.png");
	width: 78px;
	height: 45px;
	margin-top: -32px;
}

#newsletter:hover + #newsletter-img
{
	background: url("../img/bongocat.png") -78px;
}
