html{
	background-color: #F6F8F9;
}

.profile-img{
	width: 40px;
}
.promote-text{
	color: white;
    text-shadow: 0px 0px 4px #656565;
}

.yellow-button{
	background-color: #FFC96C;
	color: white;
}