{% if not request.POST.next %}
    <input type="hidden" name="next" value="{{  request.META.HTTP_REFERER }}" />
{% else %}
    <input type="hidden" name="next" value="{{  request.POST.next }}" />
{% endif %}

{% if request.POST.next %}
    <a href="{{ request.POST.next }}" class="uk-button uk-button-secondary uk-float-left">Wróć</a>
{% elif request.META.HTTP_REFERER %}
    <a href="{{ request.META.HTTP_REFERER }}" class="uk-button uk-float-left uk-width-small@s"><span uk-icon="icon: arrow-left; ratio: 2"></span>Wróć</a>
{% endif %}