{% extends 'base.html' %}

{% block content %}

<div class="uk-section">
    <div class="uk-container uk-container-large">
        {% if object_list %}
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Zadania</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{% url 'matura_detail' object.year object.pk %}">{{ object.title }} -
                            {% if object.level == 'roz' %}
                                <span style="color: red;">
                            {% elif object.level == 'dwu' %}
                                <span style="color: darkred;">
                            {% else %}
                                <span style="color: grey;">
                            {% endif %}
                                {{ object.get_level_display }} ({{ object.get_type_display }})</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="uk-article-title uk-section-large">Sorcia, nie mamy czegoś takiego 😢</div>
        {% endif %}
    </div>
</div>
{% endblock %}