{% extends 'base.html' %}
{% load widget_tweaks %}
{% load zip_longest %}
{% load next_field %}

{% block content %}
<style>
    #text{
        line-height: 40px;
    }
</style>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <p class="uk-text-lead">{{ task.title }}</p>

        {% if task.sound_file %}
        <!-- AUDIO -->
        <p>
            <audio id="Player" class="uk-width-1-1" controls>
                 <source src="{{ task.sound_file.url }}" type="audio/mpeg"/>
            </audio>
        </p>
        {% endif %}
        {% if task.image %}
        <!-- Image -->
        <p class="uk-text-center">
            <img src="{{ task.image.url }}"/>
        </p>
        {% endif %}
        <form method="post">
        {{ formset.management_form }}
        {% csrf_token %}
            <div id="text">
                {% for text, anwser in task.text_fill_blank_list|zip_longest:task.list_of_anwsers %}
                    {% with text_field=anwsers|next_field:"text" %}
                        {{ text | safe | linebreaksbr }}
                        {% if formset.is_valid %}
                            {% if anwser.text|upper == text_field.value|upper %}
                                {% render_field text_field class="uk-input uk-form-width-xsmall uk-form-success uk-text-center uk-text-uppercase uk-remove-padding" maxlength="1" %}
                            {% else %}
                                {% render_field text_field class="uk-input uk-form-width-xsmall uk-form-danger uk-text-center uk-text-uppercase uk-remove-padding" maxlength="1" %}
                            {% endif %}
                        {% else %}
                            {% render_field text_field class="uk-input uk-form-width-xsmall uk-text-center uk-text-uppercase uk-remove-padding" maxlength="1" %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <p class="uk-text-lead">Odpowiedzi:</p>
                    <div class="uk-grid-match uk-grid-large" uk-grid>
                        {% for question in task.question.all %}
                            <div>{{ forloop.counter }}. {{ question.text | safe | linebreaks }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <button class="uk-button uk-button-primary uk-float-right uk-width-medium@s" type="submit">Zatwierdź odpowiedzi</button>
                {% include 'matura/go_back_button.html' %}
            </div>
        </form>
        {% include 'matura/matura_help_menu.html' %}
    </div>
</div>
{% endblock %}