{% extends 'base.html' %}

{% block content %}

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Rodzaje egzaminów</th>
                </tr>
            </thead>
            <tbody>
            {% for task_type, task_type_verb in task_types %}
                <tr>
                    <td class="uk-table-link">
                        <a class="uk-link-text" href="{% url 'exams_by_task_type' view.kwargs.exam_category task_type %}">{{ task_type_verb }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Rok</th>
                    <th>Poziom</th>
                    <th>Miesiąc</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td class="uk-table-link">
                        <a class="uk-link-text" href="{% url 'exams_level' view.kwargs.exam_category object.slug_url %}">{{ object.get_type_display }} {{ object.year }}</a>
                    </td>
                    <td>
                        {% if object.level == 'roz' %}
                            <span style="color: red;">
                        {% elif object.level == 'dwu' %}
                            <span style="color: darkred;">
                        {% else %}
                            <span style="color: grey;">
                        {% endif %}
                        {{ object.get_level_display }}
                            </span>
                    </td>
                    <td>{{ object.get_month_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'base/paginator.html' %}
    </div>
</div>
{% endblock %}