{% extends 'base.html' %}

{% block content %}

<div class="uk-section">
    <div class="uk-container uk-container-large">

        <h1>{{ object.title }}</h1>

        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Głosy</th>
                    <th>Data dodania</th>
                    <th>Autor</th>
                    <th>Avatar</th>
                </tr>
            </thead>
            <tbody>
            {% for task in object.task.all %}
                <tr>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{% url 'task_detail' object.slug_url task.id %}">{{ task.title }}</a>
                    </td>
                    <td>miejsce na głosy</td>
                    <td>{{ task.date|date:"D d M Y" }}</td>
                    <td>{{ task.author }}</td>
                    <td><img class="uk-preserve-width uk-border-circle" src="{{ task.author.avatar.url }}" width="40" alt=""></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}