{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div style="background-image: linear-gradient(#8e9eab, #eef2f3); border-radius: 0 0 100% 0; z-index: -1; padding-bottom: 36%;" class="uk-width-2-3@s uk-width-1-3@m uk-position-absolute uk-visible@s"></div>
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div uk-scrollspy="target: > img; cls: uk-animation-scale-up; delay: 200;" class="uk-align-center">
                <img class="uk-border-circle" src="{% static 'tasks/contact/me_face.jpg' %}" style="width: 300px; height: auto;"/>
                <img class="uk-visible@m" src="{% static 'tasks/contact/an_arrow.png' %}"/>
            </div>
            <div class="uk-article uk-width-expand@m" uk-scrollspy="target: > p; cls: uk-animation-fade; delay: 200">
                <h1 class="uk-article-title" uk-scrollspy="cls: uk-animation-slide-top; delay: 100">Hej!</h1>
                <p class="uk-text-lead">Nazywam się Dawid, mam {{ age }} i jest to moja <span class="uk-text-warning">pierwsza</span> strona stworzona w <a href="https://www.djangoproject.com/">Django</a>.</p>
                <p>Przy tworzeniu tej strony przyświecał mi cel pomocy wszystkim maturzystom - a tak naprawdę cel stworzenia platformy, dzięki której maturzyści będą mogli pomagać sobie nawzajem.</p>
                <p>Przez to, że jest to moja pierwsza strona chciałbym z miejsca przeprosić za wszelkie błędy i niedociągnięcia. Włożyłem w pracę nad stroną całe swoje serce, ale nawet ono nie jest w stanie zastąpić potrzebnego mi doświadczenia, które dopiero nabywam razem z pracą. Bardzo proszę o wyrozumiałość, a wszelkie uwagi <span class="uk-text-muted">(w szczególności senior developerów)</span> chętnie przeczytam! 😁</p>
                <p>Wszystkich chętnych zapraszam do kontaktu 😊</p>
                <div class="uk-padding uk-padding-remove-vertical" uk-scrollspy="target: > form, div; cls: uk-animation-slide-bottom; delay: 100;">
                    <form method="POST">
                        {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='uk-form-danger' %}
                        {% for field in form %}
                        <div class="uk-margin">
                            {% render_field field class+="uk-textarea" placeholder=field.label %}
                        </div>
                        <div class="uk-text-meta uk-margin">{{ field.help_text }}</div>
                        <div class="uk-form-danger uk-text-small">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="uk-text-center"><button class="uk-button uk-button-primary" type="submit">Wyślij wiadomość</button></div>
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}