{% extends 'base.html' %}

{% block content %}
<div class="uk-section uk-section-small uk-text-center">
    <div class="uk-container uk-width-large" uk-scrollspy="target: > p; cls: uk-animation-fade; delay: 150;">
        <span uk-icon="icon: mail; ratio: 10" uk-scrollspy="uk-animation-scale-up"></span>
        <p class="uk-article-title">Gotowe!</p>
        <p>Twoja wiadomość została wysłana.</p>
        <p>Dziękuje za kontakt i oczekuj odpowiedzi. 😉</p>
        <p><a class="uk-link-muted" href="{% url 'home' %}">Powrót na stronę główną</a></p>
    </div>
</div>



{% endblock content %}