{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="" uk-grid>
	<!-- Promotion screen -->
    <div class="uk-width-expand@s">
        <div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle uk-flex-column" style="background-image: url({% static 'tasks/img/background-cover.jpg' %});">
            <p class="promote-text uk-heading-medium uk-text-bold uk-text-uppercase">Grammar.pl</p>
            <!-- The Card -->
            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-width-large uk-border-rounded">
            	<h3 class="uk-card-title">Śpieszy ci się?</h3>
            	<p>Skorzystaj z opcji losowania zadań. Daj sie zaskoczyć! Jest to przede wszystkim szybka opcja, ale równie efektywna a do tego zaskakująca!</p>
            	<p class="uk-text-center" uk-margin>
            		<button class="uk-button uk-button-small uk-border-rounded uk-button-primary">Losuj zadanie</button>
            		<button class="uk-button uk-button-small uk-border-rounded yellow-button">Losuj zadanie maturalne!</button>
            	</p>
            </div>
        </div>
    </div>
	{% if not user.is_authenticated %}
    <div class="uk-section-default uk-width-1-2@s">
    	<!-- Login panel -->
    	<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-height-large uk-text-center">
    		<div class="uk-h1">Zaloguj sie aby dodawać zadania</div>
    		<div class="uk-heading-primary uk-text-center">
    			<p>Konto daje możliwość dodawania własnych zadań.<br>
    			Pozwala zapisywać ulubione zadania i oceniać prace innych<br>
    			Dołącz do społeczności, rozwijaj umiejętności swoje i innych!</p>
    		</div>
			<p uk-margin>
				<a href="{% url 'login' %}">
					<button type="submit" class="uk-button uk-button-primary uk-border-rounded">Zaloguj mnie</button>
				</a>
				<a href="{% url 'signup' %}">
					<button type="submit" class="uk-button uk-button-secondary uk-border-rounded">Zarejestruj mnie</button>
				</a>
			</p>
    	</div>
    </div>
	{% endif %}
</div>

<div id="czasy" uk-scrollspy="cls: uk-animation-fade" class="uk-section uk-section-small uk-section-muted">
    <div uk-scrollspy="target: > div; cls: uk-animation-slide-bottom; delay: 200" class="uk-container uk-container-large">

        <p class="uk-h2 uk-heading-divider">Zadania z poszczególnymi czasami</p>

        <p class="uk-text-large uk-heading-bullet">Teraźniejsze</p>
		<div class="uk-grid-small uk-flex-center uk-grid-match" uk-grid>
			{% for category in object_list %}
			{% if 'Present' in category.title %}
			<a href="{% url 'category' category.slug %}" class="uk-link-reset">
			<div>
				<div class="uk-width-medium uk-card uk-card-hover uk-card-small uk-card-default uk-card-body">
				    <div class="block-title">{{ category.title }}</div>
				    <p class="uk-text-meta">{{ category.description }}</p>
				</div>
			</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>

        <p class="uk-text-large uk-heading-bullet">Przeszłe</p>
		<div class="uk-grid-small uk-flex-center uk-grid-match" uk-grid>
			{% for category in object_list %}
			{% if 'Past' in category.title %}
			<a href="{% url 'category' category.slug %}" class="uk-link-reset">
			<div>
				<div class="uk-width-medium uk-card uk-card-hover uk-card-small uk-card-default uk-card-body">
				    <div class="block-title">{{ category.title }}</div>
				    <p class="uk-text-meta">{{ category.description }}</p>
				</div>
			</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>

        <p class="uk-text-large uk-heading-bullet">Przyszłe</p>
		<div class="uk-grid-small uk-flex-center uk-grid-match" uk-grid>
			{% for category in object_list %}
			{% if 'Future' in category.title %}
			<a href="{% url 'category' category.slug %}" class="uk-link-reset">
			<div>
				<div class="uk-width-medium uk-card uk-card-hover uk-card-small uk-card-default uk-card-body">
				    <div class="block-title">{{ category.title }}</div>
				    <p class="uk-text-meta">{{ category.description }}</p>
				</div>
			</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
    </div>
</div>
<div id="tryby" class="uk-section uk-section-muted">
    <div class="uk-container uk-container-large">
        <p class="uk-h2 uk-heading-divider uk-margin-medium-bottom">Zadania z trybami warunkowymi</p>
		<div uk-scrollspy="target: > a; cls: uk-animation-fade; delay: 150" class="uk-grid-small uk-flex-center uk-grid-match" uk-grid>
			{% for category in object_list %}
			{% if 'warunkowy' in category.title %}
			<a href="{% url 'category' category.slug %}" class="uk-link-reset">
			<div>
				<div class="uk-width-medium uk-card uk-card-hover uk-card-small uk-card-default uk-card-body">
				    <div class="block-title">{{ category.title }}</div>
				    <p class="uk-text-meta">{{ category.description }}</p>
				</div>
			</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}