<div class="uk-section uk-section-muted">
    {% if user.is_staff %}
        {% load admin_urls %}
        <h3>Panel admina</h3>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>Jesteś adminem</div>
        </div>
    {% endif %}

    <h3 class="uk-heading-divider">Pomocnicze Menu!</h3>
    <div class="uk-text-center uk-grid-match uk-child-width-1-3@s" uk-grid>
        <div>
            <a href="" class="uk-button uk-border-rounded yellow-button-transparent">Losuj kolejne zadanie</a>
        </div>
        <div>
            <a href="{% url 'task_report' task.id %}?next={% firstof request.path '/' %}" class="uk-button uk-border-rounded uk-button-danger button-danger-transparent">Zgłoś zadanie</a>
        </div>
        {% if task.author == user %}
        <div>
            <a href="{% url 'edit_task' task.id %}" class="uk-button uk-border-rounded uk-button-secondary">Edytuj swoje zadanie</a>
        </div>
        {% endif %}
    </div>
</div>