{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="uk-section uk-section-small uk-text-center">
    <div class="uk-container uk-width-large">
        <h2>Zapomniałeś swojego hasła?</h2>
        <p>Już się nie martw! :3</p>
        <p class="uk-text-bold">Nie panikuj!</p>
        <p class="uk-text-bold">Nie załamuj się, jak kotek niżej!</p>
        <p>Podaj swój adres email na który było zarejestrowane konto, a prześlemy ci dalsze instrukcje dotyczące zmiany twojego hasła.</p>


        <form method="POST">
            {% csrf_token %}
            {% with WIDGET_ERROR_CLASS='uk-form-danger' %}
            <div class="uk-margin">
                <img class="uk-width-small" src="{% static 'img/auth/sad_cat.png' %}"/>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: mail"></span>
                    {% render_field form.email class+="uk-input" placeholder=form.email.label %}
                </div>
                <div class="uk-text-meta uk-list">{{ form.email.help_text }}</div>
                <div class="uk-form-danger">
                    {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <input class="uk-button uk-button-primary" type="submit" value="Odzyskaj hasło">
            {% endwith %}
        </form>
    {% if form.non_field_errors %}
        <div class="uk-alert-danger" uk-alert>
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}