{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="uk-section uk-section-small uk-flex uk-flex-center">
    <div class="uk-container uk-container-small">
        {% if validlink %}
        <h1>Zapomniałeś hasła?</h1>
        <p>Nie ma problemu! Wypełnij poniższy formularz by ustawić nowe hasło</p>
        <div class="uk-width-large">
            <form method="POST">
                {% csrf_token %}
                {% with WIDGET_ERROR_CLASS='uk-form-danger' %}
                {% for field in form %}
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: lock"></span>
                        {% render_field field class+="uk-input" placeholder=field.label %}
                    </div>
                    <div class="uk-text-meta uk-margin">{{ field.help_text }}</div>
                    <div class="uk-form-danger uk-text-small">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="uk-text-center"><button class="uk-button uk-button-primary" type="submit">Zmień hasło</button></div>
                {% endwith %}
            </form>
        </div>
        {% else %}
        <h1>Przepraszamy, ale ten link już wygasł.</h1>
        <p>Spróbuj wygenerować nowy formularz poprzez <a href="{% url 'password_reset' %}">ten link</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}