{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="uk-section uk-section-small uk-text-center">
    <div class="uk-container uk-width-large" uk-scrollspy="target: > p; cls: uk-animation-fade; delay: 150;">
        <span uk-icon="icon: unlock; ratio: 10" uk-scrollspy="uk-animation-scale-up"></span>
        <p class="uk-article-title">Gotowe!</p>
        <p>Twoje hasło zostało zmienione!</p>
        <p>Teraz możesz się <a href="{% url 'login' %}">zalogować</a>.</p>
        <p><img src="{% static 'img/auth/dancing_cat.gif' %}"/></p>
    </div>
</div>

{% endblock %}