{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="uk-section uk-section-small uk-text-center">
    <div class="uk-container uk-width-large" uk-scrollspy="target: > p; cls: uk-animation-fade; delay: 150;">
        <!-- <img width="200" height="200" src="{% static 'img/auth/mailbox.svg' %}" uk-scrollspy="uk-animation-scale-up"> -->
        <span uk-icon="icon: mail; ratio: 10" uk-scrollspy="uk-animation-scale-up"></span>
        <p class="uk-article-title">Gotowe!</p>
        <p>Sprawdź swoją skrzynkę pocztową</p>
        <p>Znajdziesz tam dalsze instrukcje, które pozwolą ci odzyskać dostęp do swojego konta.</p>
    </div>
</div>



{% endblock content %}